<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/dist/echarts.min.js"></script>
    <!-- 引入 jquery.js -->
    <script src="../static/js/jquery-3.4.1.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 入门示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20],
            emphasis: {
                itemStyle:{
                    color : 'blue'
                },
                label: {
                    show: true,
                    // 高亮时标签的文字。
                    formatter: 'This is a emphasis label.'
                }
            }
        }

        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    myChart.dispatchAction({
        type: 'highlight',
        seriesIndex: 0,
        dataIndex: 1
    });

    myChart.on('mouseover', function(e) {

//高亮显示悬停的那块
        myChart.dispatchAction({
            type: 'highlight',
            seriesIndex: 0,
            dataIndex: 0
        });
        myChart.dispatchAction({
            type: 'highlight',
            seriesIndex: 0,
            dataIndex: 1
        });
        myChart.dispatchAction({
            type: 'highlight',
            seriesIndex: 0,
            dataIndex: 2
        });
    });
    //检测鼠标移出后显示之前默认高亮的那块
    myChart.on('mouseout', function(e) {
        myChart.dispatchAction({
            type: 'downplay',
            seriesIndex: 0,
            dataIndex: 0
        });
        myChart.dispatchAction({
            type: 'downplay',
            seriesIndex: 0,
            dataIndex: 1
        });
        myChart.dispatchAction({
            type: 'downplay',
            seriesIndex: 0,
            dataIndex: 2
        });
    });

    $.getJSON("static/json/userinfo.json", function (data){
        var $jsontip = $("#jsonTip");
        var strHtml = "123";
        //存储数据的变量
        $jsontip.empty();
        //清空内容
        $.each(data, function (infoIndex, info){
            strHtml += "姓名：" + info["name"] + "<br>";
            strHtml += "性别：" + info["sex"] + "<br>";
            strHtml += "邮箱：" + info["email"] + "<br>";
            strHtml += "<hr>"
        });
        $jsontip.html(strHtml);
        alert(strHtml)
        //显示处理后的数据
    });
</script>
</body>
</html>