<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GAS-UI</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <!-- 引入 echarts.js -->
    <script src="../static/dist/echarts.min.js"></script>
    <!-- 引入 jquery.js -->
    <script src="../static/js/jquery-3.4.1.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">GAS UI</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">主题风格</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript: refresh1()">青春靓丽</a></dd>
                    <dd><a href="javascript: refresh2()">热情活泼</a></dd>
                    <dd><a href="javascript: refresh3()">暗灰风格</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="javascript:showForm();">首页</a></li>
                <li class="layui-nav-item"><a href="javascript:showPic();">绘图</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div style="width:100%;height:100%;" id="formDiv">
            <div class="layui-container">
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-md9">
                        <blockquote class="layui-elem-quote">直接绘制</blockquote>
                        <div class="layui-form" action="">

                            <div class="layui-form-item">
                                <label class="layui-form-label">选择结果</label>
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-btn-normal" id="chooseFile">选择结果</button>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="submit">立即绘制</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row layui-col-space30">
                   <div class="layui-col-md9">
                        <blockquote class="layui-elem-quote">上传算法文件</blockquote>
                        <div class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">选择文件</label>
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-btn-normal" id="choose_algo_file">选择Java文件</button>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn" id="submit_algo_file">立即提交</button>
                                </div>
                            </div>
                        </div>u0
                    </div>
                    </div>
                    <div class="layui-col-md9">
                        <blockquote class="layui-elem-quote">仿真绘制</blockquote>
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">选择任务</label>
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-btn-normal" id="chooseFileForSim">选择任务文件</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">调度算法</label>
                                <div class="layui-input-block must">
                                    <select name="algorithm" lay-verify="required" id="select_algo">
                                        <option color= value=""></option>
                                    </select>
                                </div>
                            </div>
                           <div class="layui-form-item">
                                <a class="layui-btn layui-btn-xs addtable">添加数据中心</a>
                            </div>
                            <div  id="tablelist">
                                <table class="layui-table" lay-filter="table" id="table1" name="table1">
                                    <thead>
                                    <tr>
                                        <td>中心编号</td>
                                        <td>台数</td>
                                        <td>镜像大小(MB)</td>
                                        <td>内存(MB)</td>
                                        <td>处理速度(mips)</td>
                                        <td>带宽</td>
                                        <td>处理器个数</td>
                                        <td>
                                            <a class="layui-btn layui-btn-xs add" id="1" onclick="test(this.id)">添加</a>
                                       </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" id="layui-input1" class="layui-input" name="type1" value="1" disabled="disabled"></td>
                                        <td><input type="text" id="layui-input2" class="layui-input inp-fon" name="num1" required="required" value="10" onkeyup="check(this)"></td>
                                        <td><input type="text" id="layui-input3" class="layui-input inp-fon" name="size1" value="10000" onkeyup="check(this)"></td>
                                        <td><input type="text" id="layui-input4" class="layui-input inp-fon" name="memo1" value="512" onkeyup="check(this)"></td>
                                        <td><input type="text" id="layui-input5" class="layui-input inp-fon" name="mips1" value="1000" onkeyup="check(this)"></td>
                                        <td><input type="text" id="layui-input6" class="layui-input inp-fon" name="bw1" value="1000" onkeyup="check(this)"></td>
                                        <td><input type="text" id="layui-input7" class="layui-input inp-fon" name="cpu1" value="1" onkeyup="check(this)"></td>
                                        <td>
                                            <a class="layui-btn layui-btn-primary layui-icon layui-btn-sm del" id="101" onclick="test(this.id)">&#xe640;</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a class="layui-btn layui-btn-danger layui-btn-xs deltable" id="1001" onclick="test(this.id)">删除数据中心1</a>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="commit" id="commit">立即提交</button>
                                    <button class="layui-btn" id="download" onclick="downLoadJson();">结果下载</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;height:100%;" id="main"></div>
    </div>
</div>
<script src="../static/layui/layui.js"></script>
<script type="text/javascript">
var tablenum=1;
 var clickid;
 var remain=1;
 var jsonT='{';
 $(".inp-fon").focus(function(){
          var oldValue = $(this).val();
          if(oldValue == this.defaultValue){
              $(this).val("").addClass('focus-fon');

          }
      }).blur(function(){
          var oldValue = $(this).val();
          if(oldValue == ""){
               $(this).val(this.defaultValue).removeClass('focus-fon');;
           }
      });
 function check(obj)
{
var number = obj.value;
var number2 = parseInt(number);
if(!isNaN(number))
   return;
else
   obj.value = number.substring(0,number.length-1);
}
function jstable(){
//var number=tablenum;
jsonT='{';
var limit=remain;
for(var i=1;i<=parseInt(tablenum)&&(document.getElementById("table"+parseInt(i)))!=null;i=parseInt(i)+1){
  limit=parseInt(limit)-1;
  var tabLen=document.getElementById("table"+parseInt(i));
  jsonT+='"table'+i+'":[{';
  for (var j=1; j <parseInt(tabLen.rows.length);j=parseInt(j)+1){
      var vmnum =tabLen.rows[j].cells[1].getElementsByTagName("input")[0].value;
      var size= tabLen.rows[j].cells[2].getElementsByTagName("input")[0].value;
      var memo= tabLen.rows[j].cells[3].getElementsByTagName("input")[0].value;
      if(parseInt(memo)>2048){
        alert("内存最大为2048M");
        memo=2048;
        tabLen.rows[j].cells[3].getElementsByTagName("input")[0].value=2048
      }
      var mips= tabLen.rows[j].cells[4].getElementsByTagName("input")[0].value;
      if(parseInt(mips)>1600){
        alert("处理速度最大为1600");
        mips=1600;
        tabLen.rows[j].cells[4].getElementsByTagName("input")[0].value=1600
      }
      var bw=tabLen.rows[j].cells[5].getElementsByTagName("input")[0].value;
      var cpu= tabLen.rows[j].cells[6].getElementsByTagName("input")[0].value;
      if(parseInt(j)==parseInt(tabLen.rows.length)-1){
      if(limit==0){
           jsonT+='"num":"'+vmnum+'","size":"'+size+'","memo":"'+memo+'","mips":"'+mips+'","bw":"'+bw+'","cpu":"'+cpu+'"}]';
      }
      else{
      jsonT+='"num":"'+vmnum+'","size":"'+size+'","memo":"'+memo+'","mips":"'+mips+'","bw":"'+bw+'","cpu":"'+cpu+'"}],';
   }
}
      else{
          jsonT+='"num":"'+vmnum+'","size":"'+size+'","memo":"'+memo+'","mips":"'+mips+'","bw":"'+bw+'","cpu":"'+cpu+'"},{';
      }
}
}
jsonT+='}';
//console.log(jsonT);
  $.ajax({
       type: 'post',
       dataType: 'html',
       url: '/tableUpload',
       data: {
				"tabledata" : JSON.stringify(jsonT)
			},
       success: function (data) {
          // alert("表格数据提交成功");
            },
        error: function (request) {
           tooltip("请求数据失败，可能是服务器开小差了");
            }
          });
}
 $('body').on('click', '.addtable', function (){
      var temp=tablenum;
      remain=parseInt(remain)+1;
      tablenum=parseInt(tablenum)+1;
      var newdelid=parseInt(tablenum)+100;
      var deltablenum=parseInt(tablenum)+1000;
               var str= '<table class="layui-table" id="table'+tablenum+'" lay-filter="table" name="table'+tablenum+'">'+
                    '<thead>'+
                       '<tr>'+
                         '<td>中心编号</td>'+
                          '<td>台数</td>'+
                          '<td>size</td>'+
                          '<td>内存(MB)</td>'+
                          '<td>处理速度(mips)</td>'+
                          '<td>带宽</td>'+
                          '<td>处理器个数</td>'+
                          '<td>'+
                          '<a class="layui-btn layui-btn-xs add" id="'+tablenum+'" onclick="test(this.id)">添加</a>'+
                          '</td>'+
                          '</tr>'+
                          '</thead>'+
                          '<tbody>'+
                          '<tr>'+
                          '<td><input type="text" id="layui-input1" class="layui-input" name="type1" value="'+tablenum+'" disabled="disabled"></td>'+
                                        '<td><input type="text" id="layui-input2" class="layui-input inp-fon" name="num1" required="required" value="10" onkeyup="check(this)"></td>'+
                                        '<td><input type="text" id="layui-input3" class="layui-input inp-fon" name="size1" value="10000" onkeyup="check(this)"></td>'+
                                        '<td><input type="text" id="layui-input4" class="layui-input inp-fon" name="memo1" value="512" onkeyup="check(this)"></td>'+
                                        '<td><input type="text" id="layui-input5" class="layui-input inp-fon" name="mips1" value="1000" onkeyup="check(this)"></td>'+
                                        '<td><input type="text" id="layui-input6" class="layui-input inp-fon" name="bw1" value="1000" onkeyup="check(this)"></td>'+
                                        '<td><input type="text" id="layui-input7" class="layui-input inp-fon" name="cpu1" value="1" onkeyup="check(this)"></td>'+
                                        '<td>'+
                                            '<a class="layui-btn layui-btn-primary layui-icon layui-btn-sm del" id="'+newdelid+'" onclick="test(this.id)">&#xe640;</a>'+
                                        '</td>'+
                                    '</tr>'+
                                    '</tbody>'+
                                '</table>'+
                                '<a class="layui-btn layui-btn-danger layui-btn-xs deltable" id="'+deltablenum+'" onclick="test(this.id)">删除数据中心'+tablenum+'</a>';
                                //'</div>';
    //添加到表格最后
  $("#tablelist").append(str);
    layer.msg("添加数据中心"+tablenum+"成功");
    form.render();
   });
function test(id){
clickid=id;
}
   $('body').on('click', '.add', function() {
   var delid=parseInt(clickid)+100;
   var str ='<tr>'+
            '<td><input type="text" id="layui-input1" class="layui-input" name="type1" value="'+clickid+'" disabled="disabled"></td>'+
            '<td><input type="text" id="layui-input2" class="layui-input inp-fon" name="num1" required="required" value="10" onkeyup="check(this)"></td>'+
            '<td><input type="text" id="layui-input3" class="layui-input inp-fon" name="size1" value="10000" onkeyup="check(this)"></td>'+
            '<td><input type="text" id="layui-input4" class="layui-input inp-fon" name="memo1" value="512" onkeyup="check(this)"></td>'+
            '<td><input type="text" id="layui-input5" class="layui-input inp-fon" name="mips1" value="1000" onkeyup="check(this)"></td>'+
            '<td><input type="text" id="layui-input6" class="layui-input inp-fon" name="bw1" value="1000" onkeyup="check(this)"></td>'+
            '<td><input type="text" id="layui-input7" class="layui-input inp-fon" name="cpu1" value="1" onkeyup="check(this)"></td>'+
            '<td><a class="layui-btn layui-btn-primary layui-icon layui-btn-sm del" id="'+delid+'" onclick="test(this.id)">&#xe640;</a></td>'+
        '</tr>';
    //添加到表格最后
     $(str).appendTo($('#table'+clickid+' tbody:last'));
     layer.msg("添加成功");
    form.render();
   });
   $('body').on('click', '.del', function() {
   var delid=parseInt(clickid)-100;
    if ($('#table'+delid+' tbody tr').length === 1) {
        layer.msg('只有一条不允许删除。', {
            time : 2000
        });
    } else {
        //删除当前按钮所在的tr
        $(this).closest('tr').remove();
        layer.msg("删除成功");
    }
   });

   $('body').on('click', '.deltable', function() {
   var delid=parseInt(clickid)-1000;
    if (remain===1) {
        layer.msg('只有一个数据中心不允许删除。', {
            time : 2000
        });
    } else {
        //删除当前选中的数据中心
        remain=parseInt(remain)-1;
        $("#table"+delid).remove();
        $("#"+clickid).remove();
        layer.msg("数据中心"+delid+"删除成功");
    }
   });

    function showForm() {
        document.getElementById("formDiv").style="width:100%;height:100%;";//显示
        document.getElementById("main").style.display="none";//隐藏
    }

    function showPic() {
        document.getElementById("main").style="width:100%;height:100%;";//显示
        document.getElementById("formDiv").style.display="none";//隐藏
    }

    // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'),'macarons');

var HEIGHT_RATIO = 0.6;
var DIM_CATEGORY_INDEX = 0;
var DIM_TIME_ARRIVAL = 1;
var DIM_TIME_DEPARTURE = 2;
var DIM_SUCTASK_LIST = 4;
var DIM_PRETASK_LIST = 5;
var HIGHLIGHT = 6;
var DIM_NAME = 7;
var DIM_COLOR = 8;

var DATA_ZOOM_AUTO_MOVE_THROTTLE = 30;
var DATA_ZOOM_X_INSIDE_INDEX = 2;
var DATA_ZOOM_Y_INSIDE_INDEX = 3;
var DATA_ZOOM_AUTO_MOVE_SPEED = 0.2;

var _cartesianXBounds = [];
var _cartesianYBounds = [];
var _rawData;
var _autoDataZoomAnimator;
var color = [
    "#b5b0b0",
    "#7d7676",
    "#a29696",
    "#c7bcbc",
    "#dabfbf",
    "#d6cfcf",
    "#000000",
    "#795c5c",
    "#757474",
    "#955555"
];
// 初始化主界面
$.ajax({
    type: "GET",
    url: "/init",
    success: function (result) {
        if (result.code == 200) {
			// 初始化绘图
            _rawData = result.data;
            myChart.setOption(option = makeOption());
            initDrag();
			// 初始化算法选择列表
			updateAlgoSelect(result.algoNameList);
        }
    }
});
showForm();

function refresh1() {
    color =  [
        "#516b91",
        "#59c4e6",
        "#edafda",
        "#93b7e3",
        "#a5e7f0",
        "#cbb0e3",
        "#a2f3c3",
        "#0ef1ec",
        "#b4fae9",
        "#e179e1"
    ];
    myChart.setOption(option = makeOption());
    initDrag();
}
function refresh2() {
    color = [
        "#2ec7c9",
        "#b6a2de",
        "#5ab1ef",
        "#ffb980",
        "#d87a80",
        "#8d98b3",
        "#dc69aa",
        "#07a2a4",
        "#9a7fd1",
        "#588dd5"
    ];
    myChart.setOption(option = makeOption());
    initDrag();
}
function refresh3() {
    color = [
        "#b5b0b0",
        "#7d7676",
        "#a29696",
        "#c7bcbc",
        "#dabfbf",
        "#d6cfcf",
        "#000000",
        "#795c5c",
        "#757474",
        "#955555"
    ];
    myChart.setOption(option = makeOption());
    initDrag();
}

function FCFSExample() {
    alert("FCFSExample");
    $.ajax({
        type: "GET",
        url: "/FCFSExample",
        success: function (result) {
            if (result.code == 200) {
                _rawData = result.data;
                myChart.setOption(option = makeOption());
                initDrag();
            }
        }
    });
}

function downLoadJson() {
    var eleTextarea = _rawData;

    // 下载文件方法
    var funDownload = function (content, filename) {
        var eleLink = document.createElement('a');
        eleLink.download = filename;
        eleLink.style.display = 'none';
        // 字符内容转变成blob地址
        var blob = new Blob([content]);
        eleLink.href = URL.createObjectURL(blob);
        // 触发点击
        document.body.appendChild(eleLink);
        eleLink.click();
        // 然后移除
        document.body.removeChild(eleLink);
    };

    var jsonstr = JSON.stringify(eleTextarea);
    var myDate = new Date();
    var time = myDate.toISOString();
    funDownload(jsonstr, time+".json");

}

function makeOption() {
    return {
        tooltip: {
        },
        animation: false,
        title: {
            text: 'Gantt of Task',
            left: 'center'
        },
        dataZoom: [{
            type: 'slider',
            xAxisIndex: 0,
            filterMode: 'weakFilter',
            height: 20,
            bottom: 0,
            start: 0,
            end: 26,
            handleIcon: 'M10.7,11.9H9.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4h1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            showDetail: false
        }, {
            type: 'inside',
            id: 'insideX',
            xAxisIndex: 0,
            filterMode: 'weakFilter',
            start: 0,
            end: 26,
            zoomOnMouseWheel: false,
            moveOnMouseMove: true
        }, {
            type: 'slider',
            yAxisIndex: 0,
            zoomLock: true,
            width: 10,
            right: 10,
            top: 70,
            bottom: 20,
            startValue: 0,
            endValue: 50,
            handleSize: 0,
            showDetail: false,
        }, {
            type: 'inside',
            id: 'insideY',
            yAxisIndex: 0,
            start: 95,
            end: 100,
            zoomOnMouseWheel: false,
            moveOnMouseMove: true,
            moveOnMouseWheel: true
        }],
        grid: {
            show: true,
            top: 70,
            bottom: 20,
            left: 100,
            right: 20,
            backgroundColor: '#fff',
            borderWidth: 0
        },
        xAxis: {
            type: 'value',
            position: 'bottom',
            splitLine: {
                lineStyle: {
                    color: ['#E9EDFF']
                }
            },
            axisLine: {
                show: true
            },
            axisTick: {
                lineStyle: {
                    color: '#929ABA'
                }
            },
            axisLabel: {
                color: '#929ABA',
                inside: false,
                align: 'center'
            }
        },
        yAxis: {
            axisTick: {show: false},
            splitLine: {show: false},
            axisLine: {show: false},
            axisLabel: {show: false},
            min: 0,
            max: _rawData.resources.data.length
        },
        series: [{
            id: 'taskData',
            type: 'custom',
            renderItem: renderGanttItem,
            dimensions: _rawData.tasks.dimensions,
            encode: {
                x: [DIM_TIME_ARRIVAL, DIM_TIME_DEPARTURE],
                y: DIM_CATEGORY_INDEX,
                tooltip: [DIM_NAME, DIM_CATEGORY_INDEX, DIM_TIME_ARRIVAL, DIM_TIME_DEPARTURE]
            },
            data: _rawData.tasks.data
        }, {
            type: 'custom',
            renderItem: renderAxisLabelItem,
            dimensions: _rawData.resources.dimensions,
            encode: {
                x: -1, // Then this series will not controlled by x.
                y: 0
            },
            data: echarts.util.map(_rawData.resources.data, function (item, index) {
                return [index].concat(item);
            })
        }]
    };
}

function renderGanttItem(params, api) {
    var categoryIndex = api.value(DIM_CATEGORY_INDEX);
    var timeArrival = api.coord([api.value(DIM_TIME_ARRIVAL), categoryIndex]);
    var timeDeparture = api.coord([api.value(DIM_TIME_DEPARTURE), categoryIndex]);

    var coordSys = params.coordSys;
    _cartesianXBounds[0] = coordSys.x;
    _cartesianXBounds[1] = coordSys.x + coordSys.width;
    _cartesianYBounds[0] = coordSys.y;
    _cartesianYBounds[1] = coordSys.y + coordSys.height;

    var barLength = timeDeparture[0] - timeArrival[0];
    // Get the heigth corresponds to length 1 on y axis.
    var itemHeight = Math.min(api.size([0, 1])[1], 50);
    var barHeight = itemHeight * HEIGHT_RATIO;
    var x = timeArrival[0];
    var y = timeArrival[1] - barHeight;

    var flightNumber = api.value(3) + '';
    var flightNumberWidth = echarts.format.getTextRect(flightNumber).width;
    var text = (barLength > flightNumberWidth + 40 && x + barLength >= 180)
        ? flightNumber : '';

    var rectNormal = clipRectByRect(params, {
        x: x, y: y, width: barLength, height: barHeight
    });
    var rectVIP = clipRectByRect(params, {
        x: x, y: y, width: (barLength) / 2, height: barHeight
    });
    var rectText = clipRectByRect(params, {
        x: x, y: y, width: barLength, height: barHeight
    });

    return {
        type: 'group',
        children: [{
            type: 'rect',
            ignore: !rectNormal,
            shape: rectNormal,
            style: api.style({fill: color[api.value(DIM_COLOR)]})
        },
            //     {
            //     type: 'rect',
            //     ignore: !rectVIP && !api.value(4),
            //     shape: rectVIP,
            //     style: api.style({fill: '#ddb30b'})
            // },
            {
                type: 'rect',
                ignore: !rectText,
                shape: rectText,
                style: api.style({
                    fill: 'transparent',
                    stroke: 'transparent',
                    text: text,
                    textFill: '#fff'
                })
            }]
    };
}

function renderAxisLabelItem(params, api) {
    var y = api.coord([0, api.value(0)])[1];
    if (y < params.coordSys.y + 5) {
        return;
    }
    return {
        type: 'group',
        position: [
            10,
            y
        ],
        children: [{
            type: 'path',
            shape: {
                d: 'M0,0 L0,-20 L30,-20 C42,-20 38,-1 50,-1 L70,-1 L70,0 Z',
                x: 0,
                y: -20,
                width: 90,
                height: 20,
                layout: 'cover'
            },
            style: {
                fill: '#8d98b3'
            }
        }, {
            type: 'text',
            style: {
                x: 24,
                y: -3,
                text: api.value(0),
                textVerticalAlign: 'bottom',
                textAlign: 'center',
                textFill: '#fff'
            }
        }, {
            type: 'text',
            style: {
                x: 75,
                y: -2,
                textVerticalAlign: 'bottom',
                textAlign: 'center',
                text: api.value(1),
                textFill: '#000'
            }
        }]
    };
}


function clipRectByRect(params, rect) {
    return echarts.graphic.clipRectByRect(rect, {
        x: params.coordSys.x,
        y: params.coordSys.y,
        width: params.coordSys.width,
        height: params.coordSys.height
    });
}

function light(ophighlight, seriesIndex, dataIndex) {
    myChart.dispatchAction({
        type: ophighlight,
        seriesIndex: seriesIndex,
        dataIndex: dataIndex
    });
}

function initDrag() {

    _autoDataZoomAnimator = makeAnimator(dispatchDataZoom);
    myChart.off('click')
    myChart.on('click', function (param) {
        var highlight = _rawData.flight.data[param.dataIndex][HIGHLIGHT];
        var sucTask = _rawData.flight.data[param.dataIndex][DIM_SUCTASK_LIST];
        var preTask = _rawData.flight.data[param.dataIndex][DIM_PRETASK_LIST];

        var sucQue = [];
        var preQue = [];
        for (var i = 0; i < sucTask.length; i++) {
            sucQue.push(sucTask[i]);
        }

        for (var i = 0; i < preTask.length; i++) {
            preQue.push(preTask[i]);
        }


        var ophighlight = '';
        if (highlight){
            ophighlight = 'downplay';
        }else{
            ophighlight = 'highlight';
        }


        _rawData.flight.data[param.dataIndex][HIGHLIGHT] = !_rawData.flight.data[param.dataIndex][HIGHLIGHT];
        light(ophighlight, 0, param.dataIndex);
        while (sucQue.length !== 0 ){
            light(ophighlight, 0, sucQue[0]);
            var node = _rawData.flight.data[sucQue[0]];
            node[HIGHLIGHT] = !node[HIGHLIGHT];
            var node_suc = node[DIM_SUCTASK_LIST];
            for (var i = 0; i < node_suc.length; i++) {
                if (sucQue.indexOf(node_suc[i]) > -1)
                    continue;
                sucQue.push(node_suc[i]);
            }
            sucQue.shift();
        }

        while (preQue.length !== 0 ){
            light(ophighlight, 0, preQue[0]);
            var node = _rawData.flight.data[preQue[0]];
            node[HIGHLIGHT] = !node[HIGHLIGHT];
            var node_pre = node[DIM_SUCTASK_LIST];
            for (var i = 0; i < node_pre.length; i++) {
                if (preQue.indexOf(node_pre[i]) > -1)
                    continue;
                preQue.push(node_pre[i]);
            }
            preQue.shift();
        }
    })

    function dispatchDataZoom(params) {
        var option = myChart.getOption();
        var optionInsideX = option.dataZoom[DATA_ZOOM_X_INSIDE_INDEX];
        var optionInsideY = option.dataZoom[DATA_ZOOM_Y_INSIDE_INDEX];
        var batch = [];

        prepareBatch(batch, 'insideX', optionInsideX.start, optionInsideX.end, params.cursorDistX);
        prepareBatch(batch, 'insideY', optionInsideY.start, optionInsideY.end, -params.cursorDistY);

        batch.length && myChart.dispatchAction({
            type: 'dataZoom',
            batch: batch
        });

        function prepareBatch(batch, id, start, end, cursorDist) {
            if (cursorDist === 0) {
                return;
            }
            var sign = cursorDist / Math.abs(cursorDist);
            var size = end - start;
            var delta = DATA_ZOOM_AUTO_MOVE_SPEED * sign;

            start += delta;
            end += delta;

            if (end > 100) {
                end = 100;
                start = end - size;
            }
            if (start < 0) {
                start = 0;
                end = start + size;
            }
            batch.push({
                dataZoomId: id,
                start: start,
                end: end
            });
        }
    }

    function makeAnimator(callback) {
        var requestId;
        var callbackParams;
        // Use throttle to prevent from calling dispatchAction frequently.
        callback = echarts.throttle(callback, DATA_ZOOM_AUTO_MOVE_THROTTLE);

        function onFrame() {
            callback(callbackParams);
            requestId = requestAnimationFrame(onFrame);
        }

        return {
            start: function (params) {
                callbackParams = params;
                if (requestId == null) {
                    onFrame();
                }
            },
            stop: function () {
                if (requestId != null) {
                    cancelAnimationFrame(requestId);
                }
                requestId = callbackParams = null;
            }
        };
    }

}

//JavaScript代码区域
layui.use('element', function(){
    var element = layui.element;

});

//重新渲染表单
function renderForm(){
  layui.use('form', function(){
   var form = layui.form;
   form.render();
  });
}

function updateAlgoSelect(algoNameList) {
	$('#select_algo').empty();//清空select，不然每点一次都循环添加一遍数据越来越多
	for(var i=0;i < algoNameList.length;i++){
		var algoName = algoNameList[i];
		//为select添加option
		$("#select_algo").append("<option value="+ i +">"+ algoName +"</option>");  
		renderForm();//表单重新渲染，要不然添加完显示不出来新的option
	};

}

layui.use('upload', function(){
    var $ = layui.jquery
        ,upload = layui.upload;

    // json文件上传
    upload.render({
        elem: '#chooseFile'
        ,url: '/uploadJsonFile'
        ,auto: false
        //,multiple: true
        ,accept: 'file' //允许上传的文件类型
        ,bindAction: '#submit'
        ,done: function(result){
            if (result.code == 200) {
                // alert(result.data);
                _rawData = result.data;
                myChart.setOption(option = makeOption());
                initDrag();
                showPic();
            } else {
                alert("上传文件失败");
            }
        }
        ,error: function(){
            //请求异常回调
            alert("上传文件失败");
        }
    });

    // 算法文件上传
    upload.render({
        elem: '#choose_algo_file'
        ,url: '/uploadAlgoFile'
        ,auto: false
        //,multiple: true
        ,accept: 'file' //允许上传的文件类型
        ,bindAction: '#submit_algo_file'
        ,done: function(result){
            if (result.code == 200) {
                var algoNameList = result.data;
                updateAlgoSelect(algoNameList);
				alert("上传文件成功");
            } else {
                alert("上传文件失败");
            }
        }
        ,error: function(){
            //请求异常回调
            alert("上传文件失败");
        }
    });


});

layui.use(['form', 'upload', 'layedit', 'laydate'], function(){
    var form = layui.form
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

    var upload = layui.upload;
    var $ = layui.jquery;

    // 任务文件上传
    upload.render({
        elem: '#chooseFileForSim',
        url: '/taskFileUpload',
        auto: false,//选择文件后不自动上传
        accept: 'file', //允许上传的文件类型
        bindAction: '#commit',
        //操作成功的回调
        done: function (res) {
            if (res.code == 200) {

            } else{
                if(res.code==-1)
                   layer.msg("请选择任务文件");
            }
        }
        ,error: function(){
            //请求异常回调
            alert("任务文件上传失败");
        }
    });

    // 监听表单提交
    form.on('submit(commit)', function(data){
        /*
        console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
        console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
        console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
         */
       jstable();
       $.ajax({
            url:'/formUpload',
            method:'post',
            data:data.field,
            dataType:'JSON',
            success:function(res){
                if(res.code == 200){
                    _rawData = res.data;
                    myChart.setOption(option = makeOption());
                    initDrag();
                    showPic();
                } else {
                     if(res.code==-1)
                        layer.msg("请选择任务文件");
                }
            },
            error:function () {
                //alert("表单提交失败");
                layer.msg("表单提交失败");
            }
        });


        // layer.alert(JSON.stringify(data.field), {
        //     title: '最终的提交信息'
        // })
        return false;
    });

});
</script>
</body>
</html>