<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/dist/echarts.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl@1/dist/echarts-gl.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat@1/dist/ecStat.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/dist/extension/dataTool.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/map/js/china.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/map/js/world.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/dist/extension/bmap.min.js"></script>-->
<!-- 引入 echarts.js -->
<script src="../../../static/dist/echarts.js"></script>
<!-- 引入 jquery.js -->
<script src="../../../static/js/jquery-3.4.1.js"></script>
<script type="text/javascript">
    var stuId = getUrlParamValue("id"); // 获取从 url 传递的 id 参数
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    myChart.showLoading();

    option = null;
    $.get("/workflow/display/" + stuId, function (res) {
        myChart.hideLoading();  // 隐藏 loading 效果
        option = {
            title: {
                text: '工作流图示'
            },
            tooltip: {},
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    type: 'graph',
                    layout: 'none',
 //                   force:{
  //                      repulsion: 1135
  //                  },
                    symbolSize: 50,
                    roam: true,
                    label: {
                        show: true
                    },
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [4, 10],
                    edgeLabel: {
                        fontSize: 20
                    },
                    data: res.data,
                    // links: [],
                    links: res.links,
                    lineStyle: res.lineStyle
                }
            ]
        };;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

    })



    function getUrlParamValue(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
</script>
</body>
</html>