<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>分步表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <link rel="stylesheet" href="../../static/js/lay-module/step-lay/step.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div class="layui-form-item" style="text-align: center">
                                <div class="layui-form-item">
                                    <table class="layui-hide" id="currentTableIdOfWorkflow" lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="NextInStep1">
                                            &emsp;&emsp;下一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item" style="text-align: center">
                                <div class="layui-form-item">
                                    <table class="layui-hide" id="currentTableIdOfResource" lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="PreInStep2">
                                            &emsp;&emsp;上一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="NextInStep2">
                                            &emsp;&emsp;下一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item" style="text-align: center">
                                <div class="layui-form-item">
                                    <div class="layui-input-block must">
                                        <table class="layui-hide" id="currentTableIdOfAlgorithm" lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="PreInStep3">
                                            &emsp;&emsp;上一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="NextInStep3">
                                            &emsp;&emsp;下一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item" style="text-align: center">
                                <div class="layui-form-item">
                                    <div class="layui-input-block must">
                                        <table class="layui-hide"  id="currentTableIdOfWorkflowConfirm" lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block must">
                                        <table class="layui-hide" id="currentTableIdOfResourceConfirm" lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block must">
                                        <table class="layui-hide" id="currentTableIdOfAlgorithmConfirm"  lay-filter="currentTableFilter" style="margin-top: 50px; margin-left: 0px; margin-right: 0px"></table>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="PreInStep4">
                                            &emsp;&emsp;上一步&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="formStep" id="Sure">
                                            &emsp;&emsp;确认&emsp;&emsp;
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div style="text-align: center;margin-top: 90px;">
                                    <i class="layui-icon layui-circle"
                                       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                        仿真成功
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../../static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="../../static/js/table/table-load.js" charset="utf-8"></script>
<script>
    layui.use([ 'form', 'step', 'table'], function () {
        var $ = layui.$,
            step = layui.step,
            table = layui.table;
        var dataOfWorkflow,
            dataOfResource,
            dataOfAlgorithm;
        var workflowId,
            resourceId,
            algorithmId;
        var str;
        //载入分步表单
        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '选择工作流'
            }, {
                title: '选择资源'
            }, {
                title: '选择算法'
            }, {
                title: '确认选择'
            }, {
                title: '仿真'
            }
            ]
        });
        //载入表格
        loadWorkflowInSimPage(table);
        //换页
        $('#NextInStep1').click(function () {
            step.next('#stepForm');
            loadresourceInSimPage(table);
        });
        $('#NextInStep2').click(function () {
            step.next('#stepForm');
            loadAlgorithmInSimPage(table);
        });
        $('#NextInStep3').click(function () {
            step.next('#stepForm');

            var checkStatusOfWorkflow = table.checkStatus('currentTableIdOfWorkflow');
            dataOfWorkflow = checkStatusOfWorkflow.data;
            workflowId=JSON.stringify(dataOfWorkflow[0].id);
            table.render({
                elem: '#currentTableIdOfWorkflowConfirm',
                cols: [[
                    {field: 'title', width: "50%", title: '工作流名称', align: "left"},
                    {field: 'information', width: "50%", title: '描述信息', align: "left"}
                ]],
                data:[
                    {   title: JSON.stringify(dataOfWorkflow[0].title),
                        information: JSON.stringify(dataOfWorkflow[0].information)}
                ],
                page: false,
                skin: 'line'
            });
            var checkStatusOfResource = table.checkStatus('currentTableIdOfResource');
            dataOfResource = checkStatusOfResource.data;
            resourceId=JSON.stringify(dataOfResource[0].id);
            table.render({
                elem: '#currentTableIdOfResourceConfirm',
                cols: [[
                    {field: 'name', width: "30%", title: '资源名称', align: "left"},
                    {field: 'person', width: "20%", title: '创建人', align: "left"},
                    {field: 'hostnum', width: "20%", title: 'Host数量', align: "left"},
                    {field: 'crtime', width: "30%", title: '创建时间', align: "left"}
                ]],
                data:[
                    {   name: JSON.stringify(dataOfResource[0].name),
                        person: JSON.stringify(dataOfResource[0].person),
                        hostnum: JSON.stringify(dataOfResource[0].hostnum),
                        crtime: JSON.stringify(dataOfResource[0].crtime)}
                ],
                page: false,
                skin: 'line'
            });
            var checkStatusOfAlgorithm = table.checkStatus('currentTableIdOfAlgorithm');
            dataOfAlgorithm = checkStatusOfAlgorithm.data;
            algorithmId=JSON.stringify(dataOfAlgorithm[0].id);
            table.render({
                elem: '#currentTableIdOfAlgorithmConfirm',
                cols: [[
                    {field: 'name', width: "50%", title: '算法名称', sort: true, align: "left"},
                    {field: 'summary', width: "50%", title: '摘要', align: "left"}
                ]],
                data:[
                    {   name: JSON.stringify(dataOfAlgorithm[0].name),
                        summary: JSON.stringify(dataOfAlgorithm[0].summary)}
                ],
                page: false,
                skin: 'line'
            });
        });
        $('#PreInStep2').click(function () {
            step.pre('#stepForm');
            loadWorkflowInSimPage(table);
        });
        $('#PreInStep3').click(function () {
            step.pre('#stepForm');
            loadresourceInSimPage(table);
        });
        $('#PreInStep4').click(function () {
            step.pre('#stepForm');
            loadAlgorithmInSimPage(table);
        });
        //点击确认按钮，提交表单
        $('#Sure').click(function () {
            $('#sure').submit=true;
            if(JSON.stringify(dataOfWorkflow)!="[]" && JSON.stringify(dataOfResource)!="[]" && JSON.stringify(dataOfAlgorithm)!="[]"){
                $.ajax({
                    url: '/formUpload',
                    method: 'post',
                    data: {
                        "workflow": workflowId,
                        "resource": resourceId,
                        "algorithm": algorithmId
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.code == 200) {
                            var result = JSON.stringify(res.data);
                            window.localStorage.setItem("result", result);
                            step.next('#stepForm');
                           // window.location.href="ResultShow2.html";
                            self.location="ResultShow2.html";
                        } else {

                        }
                    },
                    error: function () {
                        layer.msg("表单提交失败");
                    }
                });
            }else {
                layer.msg("请选择资源");
            }
        });
    })
</script>
</body>
</html>