<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GAS-UI</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <!-- 引入 echarts.js -->
    <script src="../static/dist/echarts.min.js"></script>
    <!-- 引入 jquery.js -->
    <script src="../static/js/jquery-3.4.1.js"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 1000px;height: 700px"></div>
<script src="../static/layui/layui.js"></script>
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>-->
<script type="text/javascript" src="../static/js/lay-module/echarts/echarts-all-3.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var colors=[
        "#E6E6FA",
        "#F8F8FF",
        "#B0C4DE",
        "#B0C4DE",
        "#4682B4",
        "#4682B4",
        "#4682B4",
        "#4682B4",
        "#4682B4",
        "#4682B4"
    ];
    function getUrlParamValue(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }
    var resId = getUrlParamValue("id"); // 获取从 url 传递的 id 参数
    myChart.showLoading();
    $.get('/resource/getVms/'+resId,function (res) {
        var hostnum=JSON.stringify(res.data.length);
        var getdata=function getData() {
            let data = {
                name: "资源:"+resId,
                value: "",
                children: []
            };
            for (let i = 0; i <hostnum ; i++) {
                let obj = {
                    name: " host:"+eval(i+1),
                    value: "",
                    children: [],
                };
                for (let j = 0; j < JSON.stringify(res.data[i].length); j++) {
                    var vmType="名称:"+JSON.stringify(res.data[i][j].vmname)+",数量:"+JSON.stringify(res.data[i][j].count)+
                           ",镜像:"+JSON.stringify(res.data[i][j].mirror)+",内存:"+JSON.stringify(res.data[i][j].ram)+
                            ",处理速度:"+JSON.stringify(res.data[i][j].mips)+",带宽:"+JSON.stringify(res.data[i][j].bw)+
                            ",核数:"+JSON.stringify(res.data[i][j].cpu);
                    let obj2 = {
                        name: ` 虚拟机类型${j+1}`,
                        value: vmType,
                    };
                        obj2.children=[]
                    var vmValue=",镜像:"+JSON.stringify(res.data[i][j].mirror)+",内存:"+JSON.stringify(res.data[i][j].ram)+
                        ",处理速度:"+JSON.stringify(res.data[i][j].mips)+",带宽:"+JSON.stringify(res.data[i][j].bw)+
                        ",核数:"+JSON.stringify(res.data[i][j].cpu);
                        for (let k = 0; k <JSON.stringify(res.data[i][j].count); k++) {
                            let obj3 = {
                                name: `VM${k+1}`,
                                value:"编号:"+resId+"-"+eval(i+1)+"-"+eval(j+1)+"-"+k+vmValue,
                            };
                            obj2.children.push(obj3);
                    }

                    obj.children.push(obj2);
                }

                data.children.push(obj);
            }
            let arr=[]
            arr.push(data)
            //
            arr=handle(arr,0)
            console.log(arr);
            return arr;
        }
        var handle=function handleData(data,index,color='#4682B4'){
            //index标识第几层
            return data.map((item,index2)=>{
                //计算出颜色
                if(index==0){
                    //color = colors.find((item, eq) => eq == index2 % 10);
                    color=colors[3];
                }else if(index==1){
                    color=colors[3];
                }else if(index==2){
                    color=colors[3];
                }
                // 设置节点大小
                if(index===0 || index===1){
                    item.label= {
                        position: "inside",
                        //   rotate: 0,
                        //   borderRadius: "50%",
                    }
                }
                // 设置label大小
                switch(index){
                    case 0:
                        item.symbolSize=50
                        break;
                    case 1:
                        item.symbolSize=40
                        break;
                    case 2:
                        item.symbolSize=30
                        break;
                    default:
                        item.symbolSize=20
                        break;
                }
                // 设置线条颜色
                item.lineStyle= { color: color }

                if (item.children) {//存在子节点
                    item.itemStyle = {
                        borderColor: color,
                        color:'#E6E6FA'
                    };
                    item.children=handle(item.children,index+1,color)
                } else {//不存在
                    item.itemStyle = {
                        //color:'transparent',
                        color:'#E6E6FA',
                        borderColor: color

                    };
                }
                return item
            })
        }

        var option = {
            type: "tree",
            backgroundColor: "white",
            toolbox: { //工具栏
                show: true,
                iconStyle: {
                    borderColor: "#03ceda"
                },
                feature: {
                    restore: {}
                }
            },
            tooltip: {//提示框
                trigger: "item",
                triggerOn: "mousemove",
                backgroundColor: "rgba(1,70,86,1)",
                borderColor: "rgba(0,246,255,1)",
                borderWidth: 0.5,
                textStyle: {
                    fontSize: 30
                }
            },
            series: [
                {
                    type: "tree",
                    symbol:'path://M511.4 512.2m-445 0a445 445 0 1 0 890 0 445 445 0 1 0-890 0Z M563.9 291.6H348.6c-25.4 0-46 20.6-46 46v398.7h75.7c-8.4-13.7-13.2-29.6-13.2-46.6 0-43 30.4-78.9 72.7-90 17.5-54.8 69.3-94.9 129.3-94.9 13.5 0 26.5 2.1 38.8 5.8v-177c0-23.2-18.8-42-42-42z m-9.2 194.9h-201v-55h201v55z m0-80.4h-201v-55h201v55z M743 685.1c0-27.7-24.9-50.3-56-51.1v-0.1h-18.2c-1.1-50.6-42.4-91.4-93.3-91.4s-92.2 40.7-93.3 91.4h-10.4v0.1c-31.1 0.9-56 23.4-56 51.1 0 27.7 24.9 50.3 56 51.1v0.1H687v-0.1c31.1-0.9 56-23.4 56-51.1z',
                    hoverAnimation: true, //hover样式
                    data:getdata(),
                    top: 0,
                    bottom: 10,
                    left: 50,
                    right: 0,
                    layout: "radial",
                    symbolSize: 10,
                    nodePadding: 10,
                    symbolOffset:[0,'50%'],
                    animationDurationUpdate: 750,
                    expandAndCollapse: true, //子树折叠和展开的交互，默认打开
                    initialTreeDepth: 2,
                    roam: true, //是否开启鼠标缩放和平移漫游。scale/move/true
                    focusNodeAdjacency: true,
                    emphasis:{
                        itemStyle:{
                            shadowColor:'rgba(0,0,0.1,0.7)',
                            shadowBlur:10
                        }
                    },
                    tooltip: {
                        position:'right',
                        formatter:'{c0}',
                        textStyle: {
                            fontStyle:'normal',
                            fontWeight:'bold',
                            fontSize:10,
                            textShadowColor:'#696969',

                        }
                    },
                    itemStyle: {
                        borderWidth: 1,
                    },
                    label: { //标签样式
                        color: "#696969",
                        fontSize: 10,
                        fontFamily: "SourceHanSansCN",
                        position: "inside",
                        rotate: 0,
                    },
                    lineStyle: {
                        width: 1,
                        curveness:0.5,
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。

        myChart.setOption(option);
        myChart.hideLoading();
        window.onresize=function () {
            myChart.resize();
        }

    })
</script>

</body>
</html>